.cabecalho {
  background-color: #679b53;
  display: grid;
  justify-content: center;
  padding: 15px;
  color: white;
  border-bottom: 1px solid black;
}

.lista {
  width: 98%;
  height: 100%;
  display: grid;
  justify-content: center;
  gap: 16px;
  padding: 16px;
}

.form {
  padding: 16px;
  display: grid;
  justify-content: center;
  border-bottom: 1px solid;
}
