<div class="formulario">
  <h4>Formulário Novo Veículo</h4>
  <table>
      <tr>
          <td>ID</td>
          <td><p>id_nr</p></td>
      </tr>
      <tr>
          <td><label for="nome">Fabricante</label></td>
          <td class="left"><input type="text" id="nome" name="nome"></td>
      </tr>
      <tr>
          <td><label for="email">Cor</label></td>
          <td ><input type="text" id="email" name="email"></td>
      </tr>
      <tr>
          <td><label for="curso">Placa</label></td>
          <td class="left"><input type="text" id="curso" name="curso"></td>
      </tr>
  </table>
  <div class="container-botoes">
      <input type="reset" value="CANCELAR" class="button">
      <input type="submit" value="SALVAR" class="button">
  </div>
</div>
